product/priv-app/DevicePersonalizationPrebuiltPixel2021-aiai_20240329.00_RC16/DevicePersonalizationPrebuiltPixel2021-aiai_20240329.00_RC16.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreVic.apk
product/priv-app/PrebuiltBugle/PrebuiltBugle.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/Velvet/Velvet.apk.xz
product/priv-app/GoogleCamera/GoogleCamera.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/app/YouTube/YouTube.apk
product/app/Photos/Photos.apk
vendor/apex/com.google.pixel.camera.hal.apex
